<div> 
    <div style="display: block;">
      <canvas baseChart 
        
        [datasets]="barChartData"
        [labels]="dateArr"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>        
</div>
 <!-- <table class="table">
 
</table> -->

 <!-- <table class="table">
   <tr *ngFor = "let date of formatedArray">
    <td>{{date}}</td>
  </tr> --> 
  <!-- <tr *ngFor = "let items of newDateArray | datepipe">
    <td>{{items.name}}</td>
    <td>{{GetDayCount(items)}}</td> -->
   <!-- </tr> -->
    <!-- <tr *ngFor = "let items of item ">
     <td>{{items.DateTime}}</td>
     <td>{{count1}}</td>
     <td>{{count2}}</td>
     <td>{{count3}}</td>
     <td>{{count4}}</td>
     <td>{{count5}}</td>
     <td>{{count6}}</td>
     <td>{{count7}}</td>
     <td>{{count8}}</td>
     <td>{{count9}}</td>
     <td>{{count10}}</td> -->
      <!-- <td>{{GetDayCount(items)}}</td> -->
   <!-- </tr>  
</table>  -->
<!-- <ul>
  <li *ngFor="let items of users | datepipe">
    {{items}}
    {{GetDayCount(items)}}
  </li>
</ul> -->

<!-- <table class="table">
  <tr *ngFor = "let date of formatedArray">
    <td>{{date}}</td>
  </tr>
  <tr *ngFor = "let items of item | datepipe">
    <td>{{GetDayCount(items)}}</td> 
  </tr>
</table> --> 
